<div id="contenido"><h3>Estadísticas</h3>
<p>Número de preguntas:  <%= numeroPreguntas %></p>
<p>Número de comentarios totales:  <%= numeroComentarios %></p>
<p>Número medio de comentarios por pregunta:  <%= media %></p>
<p>Número de preguntas sin comentarios:  <%= pregsSinCo %></p>
<p>Número de preguntas con comentarios:  <%=  pregsConCo %></p>
</div>